body{
	font-family: 'Roboto', sans-serif;
	color: #333;
}

img{
	max-width: 100%;
	height: auto;
}

*{
	box-sizing: border-box;  /*Makes the Browser take the padding as well as the total width*/
}

a{
	color: $mainOrange;
}

